body {background-color: #ffedf0;font-family: Arial, sans-serif; background-image: url(../imagenes/fondomarron.jpg);}

body{color: pink ;text-align: center;margin-left: auto;  margin-right: 0; padding:60px; margin: 50px;}
li{color: pink ;text-align: center;margin-left: auto;  margin-right: 0;}

 h1 {color: #259a9a ;text-align: center;margin-left: auto;  margin-right: 0;}
 br
 h2 {color: pink ;text-align: center;margin-left: auto;  margin-right: 0;}
img {width: 450px; height: auto;}
